{% extends 'base.html.twig' %}

{% block title %}Gastenboek{% endblock %}

{% block body %}
    {% if gastenboek %}
        <table id="gastenboek" class="table table-striped">
            <tbody>
            {% for gastenboekItem in gastenboek %}
                <tr>
                    <td>
                        <h1>{{ gastenboekItem.titel }}</h1>
                        <h5 class="inline">Door {{ gastenboekItem.naam }} <span>{{ gastenboekItem.email }}</span></h5>
                        <hr>
                        <p>{{  gastenboekItem.body }}</p>
                        <a href="/gastenboek/{{ gastenboekItem.id }}" class="btn btn-dark">Weergeven</a>
                        <a href="/gastenboek/bewerken/{{ gastenboekItem.id }}" class="btn btn-primary">Bewerken</a>
                        <a href="/gastenboek/{{ gastenboekItem.id }}" class="btn btn-danger delete-article" data-id="{{gastenboekItem.id}}">verwijderen</a>
                        <br>
                        <hr>
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Geen gastenboek-items</p>
    {% endif %}
    <a href="/gastenboek/nieuw" class="btn btn-primary">Nieuwe gastenboek-item</a>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}


